package {{ package }}.controller;

import {{ package }}.entity.{{ class_name }};
import {{ package }}.service.{{ class_name }}Service;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Sort;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.web.PageableDefault;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.*;
import org.springframework.http.MediaType;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.Api;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import javax.validation.Valid;
import java.util.List;

/**
 * @author {{ author }}
 * @version {{ version }}
 * @date {{ date }}
 * @powered by Tom Brain
 */
@Api(description = "{{ table_comment }}RESTful服务")
@RestController
@RequestMapping("/{{ class_name_lower }}")
public class {{ class_name }}Controller {

    Logger logger= LoggerFactory.getLogger(getClass());

	@Autowired
	private {{ class_name }}Service {{ class_name_lower }}Service;

    @ApiOperation(value = "获得全部记录", notes = "获得全部记录", httpMethod = "GET", produces = MediaType.APPLICATION_JSON_VALUE)
	@GetMapping
	public List<{{ class_name }}> query(){
		return {{ class_name_lower }}Service.listAll();
	}

    @ApiOperation(value = "获得分页记录easyui标准", notes = "获得分页记录", httpMethod = "GET", produces = MediaType.APPLICATION_JSON_VALUE)
	@GetMapping("/pageEui")
	public List page(@RequestParam(value = "page",required = false,defaultValue = "1") Integer page,
							   @RequestParam(value = "rows",required = false,defaultValue = "10") Integer rows,
							   @RequestParam(value = "sort",required = false,defaultValue = "ID") String sort,
							   @RequestParam(value = "order",required = false,defaultValue = "desc") String order){
		Sort sort_info;
    	if (order.equals("desc")){
			sort_info=new Sort(Sort.Direction.DESC,sort.toLowerCase());
		}else{
			sort_info=new Sort(Sort.Direction.DESC,sort.toLowerCase());
		}
		Pageable pageable=PageRequest.of(page-1,rows,sort_info);
		return {{ class_name_lower }}Service.page(pageable).getContent();
	}

	@ApiImplicitParams({
			@ApiImplicitParam(name = "page", dataType = "integer", paramType = "query",
					value = "Results page you want to retrieve (0..N)"),
			@ApiImplicitParam(name = "size", dataType = "integer", paramType = "query",
					value = "Number of records per page."),
			@ApiImplicitParam(name = "sort", allowMultiple = true, dataType = "string", paramType = "query",
					value = "Sorting criteria in the format: property(,asc|desc). " +
							"Default sort order is ascending. " +
							"Multiple sort criteria are supported.")
	})
    @ApiOperation(value = "获得分页记录标准形式", notes = "获得分页记录", httpMethod = "GET", produces = MediaType.APPLICATION_JSON_VALUE)
	@GetMapping("/page")
	public Page<{{ class_name }}> page(@PageableDefault(page = 0,size=10,sort = {"{{ id }}"},direction = Sort.Direction.ASC) Pageable pageable){
		return {{ class_name_lower }}Service.page(pageable);
	}
    @ApiOperation(value = "获得单个记录", notes = "获得单个记录", httpMethod = "GET", produces = MediaType.APPLICATION_JSON_VALUE)
	@GetMapping("/{id}")
	public {{ class_name }} getInfo(@PathVariable(name="id") {{ id_type }} id){
		return {{ class_name_lower }}Service.getById(id);
	}

    @ApiOperation(value = "获得单个空记录", notes = "获得单个空记录", httpMethod = "GET", produces = MediaType.APPLICATION_JSON_VALUE)
	@GetMapping("/new")
	public {{ class_name }} newEntity(){
		return new {{ class_name }}();
	}

    @ApiOperation(value = "创建记录", notes = "创建记录", httpMethod = "POST", produces = MediaType.APPLICATION_JSON_VALUE)
	@PostMapping("/json")
	public @ResponseBody {{ class_name }} create_json(@Valid @RequestBody {{ class_name }} {{ class_name_lower }}, BindingResult errors) throws Exception{

		if(errors.hasErrors()){
			errors.getAllErrors().stream().forEach(error->logger.info(error.getDefaultMessage()));
		}
		return {{ class_name_lower }}Service.save({{ class_name_lower }});
	}

    @ApiOperation(value = "创建记录", notes = "创建记录", httpMethod = "POST", produces = MediaType.APPLICATION_JSON_VALUE)
	@PostMapping
	public @ResponseBody {{ class_name }} create(@Valid {{ class_name }} {{ class_name_lower }}, BindingResult errors) throws Exception{

		if(errors.hasErrors()){
			errors.getAllErrors().stream().forEach(error->logger.info(error.getDefaultMessage()));
		}
		return {{ class_name_lower }}Service.save({{ class_name_lower }});
	}

    @ApiOperation(value = "更新记录", notes = "更新记录", httpMethod = "PUT", produces = MediaType.APPLICATION_JSON_VALUE)
	@PutMapping("/json/{id}")
	public @ResponseBody {{ class_name }} update_json(@Valid @RequestBody {{ class_name }} {{ class_name_lower }},@PathVariable {{ id_type }} id, BindingResult errors) throws Exception{

		if(errors.hasErrors()){
			errors.getAllErrors().stream().forEach(error->{
				logger.info(error.getDefaultMessage());
			});
		}

        {{ class_name_lower }}.set{{ id_title }}(id);
		return {{ class_name_lower }}Service.update({{ class_name_lower }});
	}

    @ApiOperation(value = "更新记录", notes = "更新记录", httpMethod = "PUT", produces = MediaType.APPLICATION_JSON_VALUE)
	@PutMapping("/{id}")
	public @ResponseBody {{ class_name }} update(@Valid {{ class_name }} {{ class_name_lower }},@PathVariable {{ id_type }} id, BindingResult errors) throws Exception{

		if(errors.hasErrors()){
			errors.getAllErrors().stream().forEach(error->{
				logger.info(error.getDefaultMessage());
			});
		}

        {{ class_name_lower }}.set{{ id_title }}(id);
		return {{ class_name_lower }}Service.update({{ class_name_lower }});
	}

    @ApiOperation(value = "删除记录", notes = "删除记录", httpMethod = "DELETE")
	@DeleteMapping("/{id}")
	public void delete(@PathVariable {{ id_type }} id){
		{{ class_name_lower }}Service.delete(id);
	}
}
