package {{ repository_package }};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import org.springframework.data.domain.Pageable;
import {{ package }}.entity.{{ class_name }};


import java.util.Optional;
import java.util.List;
import java.util.Date;

/**
 * @author {{ author }}
 * @version {{ version }}
 * @date {{ date }}
 * @powered by Tom Brain
 */
@Repository
public interface {{ class_name }}Repository extends JpaRepository<{{ class_name }},{{ id_type }}>{
    //Optional<{{ class_name }}> findById({{ id_type }} {{ id }});
    //按单项查找
}